In [1]:
#!/usr/bin/python

In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('test.db')

In [6]:
print ("opened database sucessfully")

opened database sucessfully

In [8]:
$chmod +x sqlite.py

SyntaxError: invalid syntax (2953705794.py, line 1)

In [9]:
import sqlite3 as sq

In [10]:
conn = sqlite3.connect('database.db')
print ("database connected sucessfully")

database connected sucessfully

In [11]:
conn

### CREATE A TABLE

In [14]:
conn.execute('''CREATE TABLE PRODUCTS
         (
                  ID INT PRIMARY KEY     NOT NULL,
                  NAME     TEXT          NOT NULL,
                  PRICE    INT           NOT NULL,
                  BRAND    TEXT          NOT NULL,
                  COLOR    TEXT          NOT NULL
         )
         
''')

OperationalError: table PRODUCTS already exists

INSERT OPERATIONS

In [18]:
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (1, 'jessey', 4500, 'gucci', 'blue' )")

In [19]:
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (2, 'boot', 25000, 'nike', 'yellow' )")
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (3, 'laptop', 150000, 'hp', 'black' )")
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (4, 'keyboard', 13400, 'razer', 'grey' )")
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (5, 'bag', 80000, 'louiz vuitton', 'brown' )")
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (6, 'earpiece', 10000, 'band', 'black' )")
conn.execute("INSERT INTO PRODUCTS (ID, NAME, PRICE, BRAND,COLOR) \
      VALUES (7, 'mouse', 5800, 'dell', 'purple' )")

In [25]:
allrecords = conn.execute("SELECT * FROM PRODUCTS").fetchall()
allrecords

[(1, 'jessey', 4500, 'gucci', 'blue'),
 (2, 'boot', 25000, 'nike', 'yellow'),
 (3, 'laptop', 150000, 'hp', 'black'),
 (4, 'keyboard', 13400, 'razer', 'grey'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown'),
 (6, 'earpiece', 10000, 'band', 'black'),
 (7, 'mouse', 5800, 'dell', 'purple')]

In [39]:
conn.execute("SELECT * FROM PRODUCTS where BRAND = 'louiz vuitton'").fetchall()

[(5, 'bag', 80000, 'louiz vuitton', 'brown')]

In [38]:
conn.execute("SELECT * FROM PRODUCTS where PRICE > 50000").fetchall()

[(3, 'laptop', 150000, 'hp', 'black'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown')]

UPDATE OPERATION

In [47]:
conn.execute("UPDATE PRODUCTS set PRICE  = 250000 where id =3")
conn.commit

In [49]:
conn.execute("SELECT * FROM PRODUCTS").fetchall()

[(1, 'jessey', 4500, 'gucci', 'blue'),
 (2, 'boot', 25000, 'nike', 'yellow'),
 (3, 'laptop', 250000, 'hp', 'black'),
 (4, 'keyboard', 13400, 'razer', 'grey'),
 (5, 'bag', 80000, 'louiz vuitton', 'brown'),
 (6, 'earpiece', 10000, 'band', 'black'),
 (7, 'mouse', 5800, 'dell', 'purple')]

DELETE OPERATION

In [51]:
conn.execute("DELETE FROM PRODUCTS where id =6")